:root {
    --dark: #272430;
    --white: #fff;
    --border: #e6e6e6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    width: 100%;
}

.pokedex-contaner {
    max-width: min(100%, 90rem);
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 25rem));
    gap: 1.5rem;
    justify-content: center;
}