:root {
    --dark: #272430;
    --white: #fff;
    --border: #e6e6e6;
    --gray: #919191;
    --text-dark: #313131;
    --ubuntu_font: 'Ubuntu', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    width: 100%;
}

.card picture {
    display: flex;
    max-width: min(100%, 28rem);
    height: 20rem;
    background: var(--border);
    /* background-image: url('../assets/images/icons/pokeball.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    position: relative;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card picture img {
    height: 90%;
    object-fit: contain;
    transition: 1s ease;
}
.card picture .heart {
    width: 0%;
    height: 0%;
    position: absolute;
    background-image: url('../assets/images/icons/pokeball.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: blur(1rem);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    transition: 1s ease;
}
.card picture:hover img {
    filter: blur(.2rem);
}

.card picture:hover .heart {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.card .like {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    font-size: 2.5rem;
    color: red;
    text-shadow: .2rem .2rem .5rem #313131;
    z-index: 1;
    transition: 1s ease;
}
.card picture:hover .like {
    opacity: 0;
}
.number {
    display: block;
    color: var(--gray);
    font-family: var(--ubuntu_font), arial, sans-serif;
    position: absolute;
    font-weight: bold;
    top: 1rem;
    left: 1rem;
    font-size: 1.4rem;
    z-index: 1;
}
.card .info {
    padding: 1rem;
}
.name {
    color: var(--text-dark);
    text-transform: capitalize;
    font-family: var(--ubuntu_font), arial, sans-serif;
}
.card:hover {
    animation: hoverCard .30s ease;
}

@keyframes hoverCard {
    0% {transform: translateY(0);}
    25% {transform: translateY(.5rem);}
    75% {transform: translateY(-.10rem);}
    100% {transform: translateY(0);}
}