
:root {
    --dark: #272430;
    --white: #fff;
    --border: #e6e6e6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    width: 100%;
}
.searchbar-container {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    margin-bottom: 2rem;
}
.searchbar {
    width: 32rem;
}
.searchbar input {
    padding: 1rem 1.4rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    color: gray;
    border-radius: 1rem 0 0 1rem;
    border: .2rem solid var(--border);
}
.searchbar input:focus {
    background: var(--border);
    outline: none;
}
.searchbar-button button {
    padding: 1rem;
    outline: none;
    border-radius: 0 .5rem .5rem 0;
    border: .2rem solid var(--border);
}