:root {
    --dark: #272430;
    --white: #fff;
    --border: #e6e6e6;
    --gray: #919191;
    --text-dark: #313131;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    width: 100%;
}
.types {
    margin: .5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 9rem) 3rem;
    gap: .5rem;
}